{{!
Full record display.
}}
<table>
  <tr>
    <th>{{mkws-translate "Title"}}</th>
    <td>
      {{md-title}}
      {{#if md-title-remainder}}
        ({{md-title-remainder}})
      {{/if}}
      {{#if md-title-responsibility}}
        <i>{{md-title-responsibility}}</i>
      {{/if}}
    </td>
  </tr>
  {{#if md-date}}
  <tr>
    <th>{{mkws-translate "Date"}}</th>
    <td>{{md-date}}</td>
  </tr>
  {{/if}}
  {{#if md-author}}
  <tr>
    <th>{{mkws-translate "Author"}}</th>
    <td>{{md-author}}</td>
  </tr>
  {{/if}}
  {{#if md-electronic-url}}
  <tr>
    <th>{{mkws-translate "Links"}}</th>
    <td>
      {{#each md-electronic-url}}
        <a href="{{this}}">Link{{mkws-index1}}</a>
      {{/each}}
    </td>
  </tr>
  {{/if}}
  {{#mkws-if-any location having="md-subject"}}
  <tr>
    <th>{{mkws-translate "Subject"}}</th>
    <td>
      {{#mkws-first location having="md-subject"}}
        {{#if md-subject}}
          {{#mkws-commaList md-subject}}
            {{this}}{{/mkws-commaList}}
        {{/if}}
      {{/mkws-first}}
    </td>
  </tr>
  {{/mkws-if-any}}
  <tr>
    <th>{{mkws-translate "Locations"}}</th>
    <td>
      {{#mkws-commaList location}}
        {{mkws-attr "@name"}}{{/mkws-commaList}}
    </td>
  </tr>
</table>
