{{!
Search form

team - MKWS team
queryWidth - configured width for search box
}}
<form name="mkwsSearchForm" class="mkwsSearchForm mkwsTeam_{{team}}" action="">
  <input class="mkwsQuery mkwsTeam_{{team}}" type="text" size="{{queryWidth}}">
  <input class="mkwsButton mkwsTeam_{{team}}" type="submit" value="{{{mkws-translate "Search"}}}">
</form>

