{{!
Search statistics

activeclients - number of targets currently searching
clients - total targets for this search
records - number of records returned and available
hits - number of hits across all targets
}}
 -- <span class="mkwsClientCount">{{mkws-translate "Active clients"}} : {{activeclients}}/{{clients}}</span> -- {{mkws-translate "Retrieved records"}} : {{records}}/{{hits}}
