{{!
Pager

nextHref - link for "next" button, only available if there is a next page
prevHref - link for "previous" button if there is a previous page
moreNext - indicates there are more pages following those displayed
morePrev - indicates there are more pages preceding
first - first record displayed
last - last record displayed
count - number of records available
found - number of records found
pages:
  number - page number
  href - link to this page unless it is the current one
}}
<div class="mkws-pager-desc">
 {{#if found}}
  <span>{{mkws-translate "Displaying"}}</span>:
  {{first}} <span>{{mkws-translate "to"}}</span> {{last}}
  <span>{{mkws-translate "of"}}</span> {{count}} (<span>{{{mkws-translate "found"}}}</span>: {{found}})
 {{else}}
  No hits.
 {{/if}}
</div>

<div class="mkws-pager-list">
  {{#if prevHref}}
    <a href="{{prevHref}}" class="mkws-prev mkwsPrev">{{{mkws-translate "Prev"}}}</a> |
  {{else}}
    <span class="mkws-prev mkwsPrev">{{{mkws-translate "Prev"}}}</span> |
  {{/if}}

  {{#if morePrev}}...{{/if}}

  {{#each pages}}
    {{#if href}}
      <a href="{{href}}">{{number}}</a>
    {{else}}
      <span class="mkws-current-page mkwsCurrentPage">{{number}}</span>
    {{/if}}
  {{/each}}

  {{#if moreNext}}...{{/if}}

  {{#if nextHref}}
    | <a href="{{nextHref}}" class="mkws-next mkwsNext">{{{mkws-translate "Next"}}}</a>
  {{else}}
    | <span class="mkws-next mkwsNext">{{{mkws-translate "Next"}}}</span>
  {{/if}}
</div>
