{{!
Results -- compound widget to display search results

team - team for this widget
}}
<div class="mkws-termlists mkwsTermlists mkws-team-{{team}}"></div>
<div class="mkws-motd-container mkwsMOTDContainer mkws-team-{{team}}" valign="top">
  <div class="mkws-ranking mkwsRanking mkws-team-{{team}}"></div>
  <div class="mkws-pager mkwsPager mkws-team-{{team}}"></div>
  <div class="mkws-navi mkwsNavi mkws-team-{{team}}"></div>
  <div class="mkws-records mkwsRecords mkws-team-{{team}}"></div>
</div>

