{{!
Results -- compound widget to display search results

team - team for this widget
}}
<table width="100%" border="0" cellpadding="6" cellspacing="0">
  <tr>
    <td class="mkws-facets-container-wide mkws-team-{{team}}" width="250" valign="top">
      <div class="mkws-facets mkwsTermlists mkws-team-{{team}}"></div>
    </td>
    <td class="mkws-motd-container mkwsMOTDContainer mkws-team-{{team}}" valign="top">
      <div class="mkws-ranking mkwsRanking mkws-team-{{team}}"></div>
      <div class="mkws-pager mkwsPager mkws-team-{{team}}"></div>
      <div class="mkws-navi mkwsNavi mkws-team-{{team}}"></div>
      <div class="mkws-records mkwsRecords mkws-team-{{team}}"></div>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <div class="mkws-facets-container-narrow mkws-team-{{team}}"></div>
    </td>
  </tr>
</table>

