{{!
Brief record from a search.

The non-metadata keys enable an optional link to display an AJAX popup that
fetches additional record detail.

containerClass - partial class attribute for element containing a record
detailLinkId - id for the element triggering detail display
detailClick - a click event handler for details
renderedDetails - active record details rendered from the details template
md-* - metadata fields passed through from backend
}}
{{#if md-thumburl}}
  <a class="result-thumb" href="#" onclick="{{detailClick}}">
    <img src="{{md-thumburl}}"/>
  </a>
{{/if}}
<div class="result-data">
  <span class="result-title">
  <a href="#" id="{{detailLinkId}}" onclick="{{detailClick}}">
    {{md-title}}
  </a>
  </span>
  {{#if md-title-remainder}}
    <span class="result-title-remainder">{{md-title-remainder}}</span>
  {{/if}}
  {{#if md-author}}
    <span class="result-author">{{md-author}}</span>
  {{else}}
    {{#if md-title-responsibility}}
      <span class="result-author">{{md-title-responsibility}}</span>
    {{/if}}
  {{/if}}
  {{#if md-description}}
    <div class="result-description">{{md-description}}</div>
  {{/if}}
  {{#if md-date}}
    <span class="result-date">{{md-date}}</span>
  {{/if}}
  {{#if renderedDetails}}
    {{{renderedDetails}}}
  {{/if}}
</div>
