{{!
Paragraphs and images from a reference source such as Wikipedia

sentences - number of sentences to include
paragraphs - number of paragraphs to include
md-* - metadata fields passed through from backend
}}

<!--
display only the first image

{{#if md-thumburl}}
<img src="{{md-thumburl.[0]}}" alt="{{md-title}}">
{{/if}}
-->

<!-- multiple images -->
{{#each md-thumburl}}
  <img src="{{this}}" alt="{{md-title}}">
{{/each}}

<h1><a href="{{md-electronic-url}}" target="_blank">{{md-title}}</a></h1>
{{#if md-title-remainder}}
<b>{{md-title-remainder}}</b>
{{/if}}
{{#if md-title-responsibility}}
<i>{{md-title-responsibility}}</i>
{{/if}}
{{#if md-disambiguationurl}}
<p class="mkws-disambiguation"
>Did you mean <a href="{{md-disambiguationurl}}" target="_blank"
	>a different {{md-title}}</a>?</p>
{{/if}}
{{{mkws-paragraphs md-description paragraphs sentences}}}
<p class="mkws-credit mkwsCredit">{{credit}}</p>
