{{!
Results -- compound widget to display search results

team - team for this widget
}}
<table width="100%" border="0" cellpadding="6" cellspacing="0">
  <tr>
    <td class="mkwsTermlists-Container-wide mkwsTeam_{{team}}" width="250" valign="top">
      <div class="mkwsTermlists mkwsTeam_{{team}}"></div>
    </td>
    <td class="mkwsMOTDContainer mkwsTeam_{{team}}" valign="top">
      <div class="mkwsRanking mkwsTeam_{{team}}"></div>
      <div class="mkwsPager mkwsTeam_{{team}}"></div>
      <div class="mkwsNavi mkwsTeam_{{team}}"></div>
      <div class="mkwsRecords mkwsTeam_{{team}}"></div>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <div class="mkwsTermlists-Container-narrow mkwsTeam_{{team}}"></div>
    </td>
  </tr>
</table>

