{{!
Target detail

data:
  id - target id
  hits - number of hits for this target
  diagnostic - 
  records - 
  state - target state
}}
<table>
  <thead>
    <tr>
      <td>{{{mkws-translate "Target ID"}}}</td>
      <td>{{{mkws-translate "Hits"}}}</td>
      <td>{{{mkws-translate "Diags"}}}</td>
      <td>{{{mkws-translate "Records"}}}</td>
      <td>{{{mkws-translate "State"}}}</td>
      </td>
    </tr>
  </thead>
  <tbody>
  {{#each data}}
    <tr>
      <td>{{{id}}}</td>
      <td>{{hits}}</td>
      <td>{{diagnostic}}</td>
      <td>{{records}}</td>
      <td>{{hits}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
